<!DOCTYPE html>
<html>

<head>
  <style>
    .c1 {
      background-color: #FF8C00;
      color: black;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      height: 20px;
      width: 100%;
    }

    .c1 a {
      text-decoration: none;
      color: black;
    }

    .c2 {

      border: none;
      height: 200px;
      width: 550px;
      margin-top: 400px;
      margin-left: 800px ;

    }

    .c3{
      text-align: center;
    }

    p{
      font-size: 30px;
    }
  </style>
</head>

<body>

{% include 'navbar.html' %}


  <div class="c2">
    <h1 class="c3">Welcome Admin</h1>
    <p>Hey Admin, here you can perform all your tasks</p>
  </div>

</body>

</html>
